*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

*::-webkit-scrollbar {
  display: block;
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}