$header-height: 33px;
$panel-header-height: 24px;

$primary-color: #007aff;
$primary-color-lighten: lighten($primary-color, 15%);
$primary-color-orange: #ff6600;

$text-color: #ffffff;
$text-color-gray: #a0a0a0;

$background-color: #121212;
$panel-background-header-color: #212121;
$panel-background-color: #323232;

$input-background-color: #1c1c1c;
$input-border-color: rgba(0,0,0,0.25);

$button-background: #555566;

$border-color: #181818;